*{
    margin: 0 auto;
    box-sizing: border-box;
}
.weather{
    padding: 30px;
    height: 100%;
    /* width: 85rem; */
    /* background-color: rgb(6, 26, 86); */
}
select{
    border: 0.001px solid rgba(0, 0, 0, 0);
    border-radius: 15px;
}
.change_theme{
    cursor: pointer;
}